@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

:root{
  --clr-bg-violet: hsl(273, 75%, 66%);
  --clr-bg-blue: hsl(240, 73%, 65%);

  --clr-divider: hsl(240, 5%, 91%);

  --clr-text-dark: hsl(240, 6%, 50%);
  --clr-text-darker: hsl(237, 12%, 33%);

  --clr-hover-question: hsl(14, 88%, 65%);
  --clr-title:  hsl(238, 29%, 16%);

  --ff-primary: "Kumbh Sans", sans-serif;

  --bg: linear-gradient(to bottom, var(--clr-bg-violet), var(--clr-bg-blue));
}

html{
  font-size: 62.5%;
}

img{
  max-width: 100%;
}

body{
  height: 130vh;
  font-family: var(--ff-primary);
  background-image: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 80%;
  margin-inline: auto;
}


.faq{
  background-color: #fff;
  width: min(90%, 90rem);
  margin-inline: auto;
  border-radius: 2rem;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 15rem 0 3rem;
  margin-top: 20rem;
  margin-bottom: 5rem;
}

.faq__woman-svg__mobile{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);
  max-width: 70%;
}

.faq__pattern-svg__mobile{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 50%;
  max-width: 70%;
}

.faq__woman-svg__desktop{
  display: none;
}

.faq__box-svg__desktop{
  display: none;
}

.faq__pattern-svg__desktop{
  display: none;
}

.faq__title{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.faq__question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: var(--clr-text-dark);
  font-size: 1.2rem;
}

.faq__question__title{
  cursor: pointer;
  font-size: 1.3rem;
  transition: all .2s ease-in-out;
}

.faq__question__title:hover{
  color: var(--clr-hover-question);
}

.faq__question__arrow{
  scale: 2;
  cursor: pointer;
}


.faq__question__answer{
  color: var(--clr-text-dark);
  width: 85%;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  display: none;
}

.line{
  height: 1px;
  background: var(--clr-divider);
  margin-bottom: 1rem;
}

/* change with click */

.active{
  display: block;
}

.make-arrow-up{
  transform: rotate(180deg);
}

.make-text-bold{
  color: var(--clr-title);
  font-weight: bold;
}

/* media queries */

@media only screen and (min-width: 50em) {
  .faq{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
    padding: 5rem 5rem 5rem 0;
   
  }
  .faq__pattern-svg__mobile,
  .faq__woman-svg__mobile{
    display: none;
  }
  .faq__pattern-svg__desktop,
  .faq__woman-svg__desktop,
  .faq__box-svg__desktop{
    position: absolute;
  }
  .faq__woman-svg__desktop{
    display: block;
    width: 40%;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  .faq__box-svg__desktop{
    display: block;
    width: 20%;
    top: 60%;
    left: 0%;
    transform: translate(-52%, -57%);
  }
  .faq__pattern-svg__desktop{
    display: block;
    width: 50%;
    top: 50%;
    left: 10%;
    transform: translate(-52%, -50%);
  }
  .faq__title{
    text-align: left;
    margin-bottom: 5rem;
  }
  .faq__question__title{
    margin-bottom: 2rem;
  }
}